{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}

    {% trans_default_domain 'FOSUserBundle' %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-5">

                <h1 class="mt-5 mb-5">
                    Register
                </h1>

                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="form-group">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' }}) }}
                        {{ form_errors(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.username, 'Username') }}
                        {{ form_widget(form.username, { 'attr': { 'class': 'form-control' }}) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Password') }}
                        {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control' }}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Repeat password') }}
                        {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control' }}) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>

                    {{ form_widget(form._token) }}

                    <div>
                        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}