<!doctype html>
<html lang="{{ locale }}">
    <head>
        {{ render_encoding() }}

        {{ render_metadatas() }}

        <title>
            {% block title %}
                {% if page is not null %}{{ page.title }}{% else %}My website{% endif %}
            {% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/lib/font-awesome-4.7.0/css/font-awesome.css') }}">

            {% include 'AppBundle:Default:css.html.twig' %}

            {{ eight_stylesheets() }}
        {% endblock %}

        {% include 'AppBundle:Default:_analytics.html.twig' %}
    </head>
    <body>
        {% block preloader %}
            {% include 'AppBundle:Default:_preloader.html.twig' %}
        {% endblock %}

        <header id="head" class="container">
            {{ render_static_blocks('head') }}
        </header>

        <div class="container" id="main-content">
            {% block content %}
                {{ render_page_content('default') }}
            {% endblock %}
        </div>

        <footer class="footer">
            {{ render_static_blocks('footer') }}
        </footer>

        {% block javascripts %}

            {% include 'AppBundle:Default:js.html.twig' %}

            {{ eight_javascripts() }}

            <script>
                var globalPrivacyPolicyUrl = '{{ i18n_path('cookie_policy') }}';
                var globalCookiePolicyMessage = '{{ "This website makes use of technical cookies for common navigation purpose and services. It also uses third party cookies from google analytics with its own policy."|trans }}';
            </script>
        {% endblock %}
    </body>
</html>